[Unit]
Description=Checks the current disk space

[Service]
Type=oneshot
CPUQuota=50%
ExecStart=/usr/bin/diskspace-monitor

[Install]
WantedBy=default.target
