Source: system-notifier
Section: utils
Priority: optional
Maintainer: Tyler Kelly <tyler.kelly@outlook.com>
Build-Depends: debhelper-compat (= 13),
               cargo,
               rustc
Standards-Version: 4.6.0
Homepage: https://github.com/Tyler Kelly/system-notifier
Vcs-Browser: https://github.com/Tyler Kelly/system-notifier
Vcs-Git: https://github.com/Tyler Kelly/system-notifier.git
Rules-Requires-Root: no

Package: system-notifier
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A Rust-based Debian package
 A Rust-based Debian package
