#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_test:
	cargo test --release

override_dh_auto_install:
	dh_auto_install
	install -D -m 755 target/release/$(shell cargo metadata --no-deps --format-version 1 | grep -o '"name":"[^"]*"' | head -n1 | cut -d'"' -f4) debian/tmp/usr/bin/$(shell cargo metadata --no-deps --format-version 1 | grep -o '"name":"[^"]*"' | head -n1 | cut -d'"' -f4)

override_dh_auto_clean:
	cargo clean
