[Unit]
Description=Checks the current battery level
Documentation=https://github.com/tylerkelly13/system-notifications

[Service]
Type=oneshot
CPUQuota=25%
ExecStart=/usr/bin/battery-monitor
