[Unit]
Description=Checks the current disk space
Documentation=https://github.com/tylerkelly13/system-notifications

[Service]
Type=oneshot
CPUQuota=25%
ExecStart=/usr/bin/diskspace-monitor
